# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyc

# Environment variables (keep secrets safe!)
.env

# IDE folders
.vscode/
.idea/
*.swp
*.swo

# OS files
active env.png
active in vs code and other.png
.DS_Store
Thumbs.db
How to run.txt
Arch/
